.add-button {
    width: 150px;
    height: 50px;
    vertical-align: baseline;
    background-image: url(../../img/add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105%;
    border: 1px solid white;
    border-radius: 1.5px;
}

@media screen and (max-width: 950px) {
    .add-button {
        height: 50px;
        width: 282px;
        vertical-align: baseline;
        margin-top: 36px;
        background-image: url(../../img/add-button-large.svg);
    }
}