.add-button {
    width: 150px;
    height: 50px;
    vertical-align: baseline;
}

@media screen and (max-width: 950px) {
    .add-button {
        width: 100%;
        height: 50px;
        vertical-align: baseline;
        margin-top: 36px;
    }
}