.save-button {
    background-color: black;
    width: 100%;
    color: white;
    max-width: 358px;
    height: 50px;
    margin-top: 40px;
    border-radius: 2px;
    cursor: pointer;
}

.save-button:hover {
    opacity: 0.8;
    transition: opacity 0.15s ease-in-out;
}

@media screen and (max-width: 600px) {
    .save-button {
        max-width: 200px;
        height: 40px;
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
    }
}