.avatar {
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

@media screen and (max-width: 950px) {
    .avatar {
        width: 128px;
        height: 128px;
        border-radius: 128px;
    }
}