.edit-icon {
    width: 24px;
    height: 24px;
    vertical-align: baseline;
    margin-left: 18px;
}

@media screen and (max-width: 950px) {
    .edit-icon {
        width: 18px;
        height: 18px;
        vertical-align: baseline;
        margin-left: 4px;
    }
}