@import url(../card/__picture/card__picture.css);
@import url(../card/__name/card__name.css);
@import url(../card/__content/card__content.css);
.card {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    position: relative;
}